<html>
  <head>
    <title>Django Q View - Queue Info {{ queue_name }}</title>
  </head>
  <body>
    <div>
      <h1>Queue: {{ queue_name}}</h1>
      <h2>Stats</h2>
      <table>
        <tr><th>Broker</th><td>{{ broker.info }}</td></tr>
        <tr><th>Cluster Count</th><td>{{ queue_data.cluster_count }}</td></tr>
        <tr><th>Queue Size</th><td>{{ queue_data.queue_size }}</td></tr>
        <tr><th>Total Results</th><td>{{ queue_data.total_results }}</td></tr>
      </table>
      <h2>Clusters</h2>
      <table>
        <thead>
          <tr>
            <th>Name</th><th>ID</th><th>Status</th><th>Host</th><th>PID</th><th>Uptime</th><th>Queue Size</th><th>Total Results</th><th>Worker Count</th>
          </tr>
        </thead>
        <tbody>
          {% for cluster in queue_data.clusters %}
            <tr>
              <td>{{ cluster.cluster_name }}</td>
              <td>{{ cluster.cluster_id }}</td>
              <td>{{ cluster.status }}</td>
              <td>{{ cluster.host }}</td>
              <td>{{ cluster.pid }}</td>
              <td>{{ cluster.uptime }}</td>
              <td>{{ cluster.queue_size }}</td>
              <td>{{ cluster.total_results }}</td>
              <td>{{ cluster.worker_count }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <h2>Queued Tasks</h2>
      <table>
        <thead>
          <tr>
            <th>ID</th><th>Name</th><th>Function</th><th>Args</th><th>Kwargs</th><th>Started</th>
          </tr>
        </thead>
        <tbody>
          {% for task_id, task_data in queued_tasks.items %}
            <tr>
              <td>{{ task_data.id }}</td>
              <td>{{ task_data.name }}</td>
              <td>{{ task_data.func }}</td>
              <td>{{ task_data.args|default:"" }}</td>
              <td>{{ task_data.kwargs|default:""}}</td>
              <td>{{ task_data.started }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <h2>Executing Tasks</h2>
      <table>
        <thead>
          <tr>
            <th>ID</th><th>Name</th><th>Function</th><th>Args</th><th>Kwargs</th><th>Started</th>
          </tr>
        </thead>
        <tbody>
          {% for task_id, task_data in executing_tasks.items %}
            <tr>
              <td>{{ task_data.id }}</td>
              <td>{{ task_data.name }}</td>
              <td>{{ task_data.func }}</td>
              <td>{{ task_data.args|default:"" }}</td>
              <td>{{ task_data.kwargs|default:""}}</td>
              <td>{{ task_data.started }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </body>
</html>
